/* ヘッダー上部 */
.header-upper {
  height: 80px;
  background-color: #003366;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-left {
  width: 60%;
}

.header-left-contents {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 15px;
}

.logo {
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;

  padding: 5px;
}

.app-title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.header-right {
  width: 40%;
}

.header-right-lists {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user_name {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header-right-lists li {
  list-style: none;
  margin-right: 15px;
  position: relative;
}

.header-right-sub {
  font-size: 14px;
  font-weight: bold;
  color: #003366;
  background-color: lightgray;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.header-right-lists li .sub-my-page {
  position: absolute;
  left: -78px;
}

.header-right-lists li .sub-out {
  position: absolute;
  left: -33px;
}

.header-right-lists li .sub-in {
  position: absolute;
  left: -40px;
}

.header-right-lists li ul li {
  height: 0;
  overflow: hidden;
}

.header-right-lists li:hover .sub-my-page li{
  overflow: visible;
  height: 30px;
  width: 118px;
  background-color: lightgray;
  z-index: 2;
}

.header-right-sub:hover {
  color: white;
  background-color: skyblue;
}

.header-right-lists li:hover .sub-out li{
  overflow: visible;
  height: 30px;
  background-color: lightgray;
}

.header-right-lists li:hover .sub-in li{
  overflow: visible;
  height: 30px;
  width: 80px;
  background-color: lightgray;
}

.header-right-button {
  height: 40px;
  width: 40px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 3px;
  display: block;
}

/* 検索フォーム */
.header-lower {
  z-index: 1;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 15px 0 0;
}

/* 検索条件 */
.search-filtering {
  position: relative;
  display: block;
  width: 190px;
  border: 2px solid #003366;
  border-radius: 5px;
}
  
.search-filtering:before {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  width:0px;
  height:0px;
  margin: -2px 0 0 0;
  border: 5px solid transparent;
  border-top: 5px solid #003366;
  cursor: pointer;
  pointer-events: none;
}

.search-filtering select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  height: 31px;
  width: 186px;
  padding-left: 10px;
  color: #003366;
  border: none;
  border-radius: 5px;
  background: transparent;
}

::-ms-expand {
  display: none;
}

/* 検索語彙入力 */
.search-word{
  height: 35px;
  width: 300px;
  border: 2px solid #003366;
  border-radius: 5px;
  margin-left: 3px;
  padding-left: 10px;
}

.search-button {
  height: 35px;
  width: 35px;
  padding: 3px;
  border: 3px solid #003366;
  border-radius: 5px;
  margin-left: 3px;
}

@media (max-width: 500px) {
  .header-upper {
    height: 100px;
  }

  .header-left {
    width: 100%;
  }

  .header-left-contents {
    margin-left: 7px;
  }

  .logo {
    height: 40px;
    width: 40px;
    background-color: white;
    padding: 5px;
  }

  .app-title {
    font-size: 30px;
    margin-left: 7px;
  }

  .header-right {
    width: 100%;
  }

  .header-right-lists li {
    margin-right: 7px;
  }

  .user_name {
    font-size: 20px;
  }

  .search-form {
    display: block;
    margin: 10px 15px 0 0;
    padding: 0 5px;
  }

  .search-form {
    margin: 5px 0 0 0
  }

  .search-word{
    margin: 5px 0 0 0;
    width: calc(100% - 41px);
  }

  .search-button {
    margin-left: 0;
    vertical-align: bottom;
  }
}