/* ヘッダー上部 */
.header-upper {
  height: 80px;
  background-color: #003366;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header-left {
  width: 60%;
}

.header-left-contents {
  display: flex;
  align-items: center;
  float: left;
  margin-left: 15px;
}

.logo {
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;

  padding: 5px;
}

.app-title {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.header-right {
  width: 40%;
}

.header-right-lists {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.user_name {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header-right-lists li {
  list-style: none;
  margin-right: 15px;
  position: relative;
}

.header-right-sub {
  font-size: 14px;
  font-weight: bold;
  color: #003366;
  background-color: lightgray;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
}

.header-right-lists li .sub-my-page {
  position: absolute;
  left: -78px;
}

.header-right-lists li .sub-out {
  position: absolute;
  left: -33px;
}

.header-right-lists li .sub-in {
  position: absolute;
  left: -40px;
}

.header-right-lists li ul li {
  height: 0;
  overflow: hidden;
}

.header-right-lists li:hover .sub-my-page li{
  overflow: visible;
  height: 30px;
  width: 118px;
  background-color: lightgray;
  z-index: 2;
}

.header-right-lists li:hover .sub-out li{
  overflow: visible;
  height: 15px;
  background-color: lightgray;
}

.header-right-lists li:hover .sub-in li{
  overflow: visible;
  height: 30px;
  width: 80px;
  background-color: lightgray;
}

.header-right-button {
  height: 40px;
  width: 40px;
  border: 3px solid white;
  border-radius: 5px;
  padding: 3px;
  display: block;
}

/* 検索フォーム */
.header-lower {
  z-index: 1;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px 15px 0 0;
}

/* 検索条件 */
.search-filtering {
  position: relative; /* 選択ボックスの位置指定 */
  display: block; /* ブロックレベル要素化にする */
  width: 190px; /* ボックスの高さを指定する */
  border: 2px solid #003366;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* ボックスに角丸を指定する */
}
  
.search-filtering:before {
  position: absolute; /* 矢印の位置を指定する */
  content: ""; /* 矢印のコンテンツ */
  top: 50%; /* 下部から配置の基準位置を決める */
  right: 10px; /* 右側から配置の基準位置を決める */
  width:0px; /* ボックスの横幅をなしに指定する */
  height:0px; /* ボックスの高さをなしに指定する */
  margin: -2px 0 0 0; /* ボックス外側の余白を指定する */
  border: 5px solid transparent; /* 矢印の境界線を透過する */
  border-top: 5px solid #003366; /* 矢印ボックス上部の境界線を実線で指定する */
  cursor: pointer; /* マウスカーソルの形を指定する */
  pointer-events: none; /* マウスイベントを制御する */
}

.search-filtering select {
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
  appearance: none; /* 標準のスタイルを無効にする */
  display: block; /* ブロックレベル要素化する */
  height: 31px;
  width: 186px; /* ボックスの高さを指定する */
  padding-left: 10px; /* ボックス内側の余白を指定する */
  color: #003366; /* フォントの色を指定 */
  border: none; /* 境界線をなしに指定する */
  border-radius: 5px; /* 角丸を指定する */
  background: transparent;/* 背景を透過指定する */
}

::-ms-expand { /* select要素のデザインを無効にする（IE用） */
  display: none;
}

/* 検索条件 */
.search-word{
  height: 35px;
  width: 300px;
  border: 2px solid #003366;
  border-radius: 5px;
  margin-left: 3px;
  padding-left: 10px;
}

.search-button {
  height: 35px;
  width: 35px;
  padding: 3px;
  border: 3px solid #003366;
  border-radius: 5px;
  margin-left: 3px;
}

@media (max-width: 500px) {
  .header-upper {
    height: 100px;
  }

  .header-left {
    width: 100%;
  }

  .header-left-contents {
    margin-left: 7px;
  }

  .logo {
    height: 40px;
    width: 40px;
    background-color: white;
    padding: 5px;
  }

  .app-title {
    font-size: 30px;
    margin-left: 7px;
  }

  .header-right {
    width: 100%;
  }

  .header-right-lists li {
    margin-right: 7px;
  }

  .user_name {
    font-size: 20px;
  }

  .search-form {
    display: block;
    margin: 10px 15px 0 0;
    padding: 0 5px;
  }

  .search-form {
    margin: 5px 0 0 0
  }

  .search-word{
    margin: 5px 0 0 0;
    width: calc(100% - 41px);
  }

  .search-button {
    margin-left: 0;
    vertical-align: bottom;
  }
}