/* ヘッダー上部 */
.header-upper {
  height: 80px;
  min-width: 700px;
  background-color: #003366;
  display: flex;
  align-items: center;
}

.heading {
  width: 50%;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.navbar {
  width: 50%;
}

.nav-lists {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-right: 15px;
}

.nav-piece {
  font-size: 14px;
  font-weight: bold;
  color: #003366;
  background-color: white;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
}

/* 検索フォーム */
.header-lower {
  min-width: 700px;
  padding: 10px 15px 0 0; 
}

.search-form {
  text-align: right;
}

.search-filtering {
  height: 30px;
  width: 150px;
  border: 2px solid #003366;
  border-radius: 5px;
}

.search-word{
  height: 30px;
  width: 300px;
  border: 2px solid #003366;
  border-radius: 5px;
}

.search-button {
  height: 30px;
  color: white;
  background-color: #003366;
  border-radius: 5px;
}

.tag-cloud-wrap {
  min-width: 700px;
  display: flex;
  justify-content: center;
}

.tag-cloud{

}


.tagcloud-piece {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background: -webkit-linear-gradient(0deg, blue, #15b610, rgb(247, 183, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}