/* ヘッダー上部 */
.header-upper {
  height: 80px;
  min-width: 700px;
  background-color: #003366;
  display: flex;
  align-items: center;
}

.heading {
  width: 50%;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 15px;
}

.navbar {
  width: 50%;
}

.nav-lists {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style: none;
  margin-right: 15px;
}

.nav-piece {
  font-size: 14px;
  font-weight: bold;
  color: #003366;
  background-color: white;
  text-decoration: none;
  padding: 3px;
  border-radius: 5px;
}

/* 検索フォーム */
.header-lower {
  min-width: 700px;
  padding: 10px 15px 0 0;
}

.search-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* 検索条件 */
.search-filtering {
  position: relative; /* 選択ボックスの位置指定 */
  display: block; /* ブロックレベル要素化にする */
  width: 150px; /* ボックスの高さを指定する */
  border: 2px solid #003366;/* ボックスの境界線を実線で指定する */
  border-radius: 5px; /* ボックスに角丸を指定する */
}
  
.search-filtering:before {
  position: absolute; /* 矢印の位置を指定する */
  content: ""; /* 矢印のコンテンツ */
  top: 50%; /* 下部から配置の基準位置を決める */
  right: 10px; /* 右側から配置の基準位置を決める */
  width:0px; /* ボックスの横幅をなしに指定する */
  height:0px; /* ボックスの高さをなしに指定する */
  margin: -2px 0 0 0; /* ボックス外側の余白を指定する */
  border: 5px solid transparent; /* 矢印の境界線を透過する */
  border-top: 5px solid #003366; /* 矢印ボックス上部の境界線を実線で指定する */
  cursor: pointer; /* マウスカーソルの形を指定する */
  pointer-events: none; /* マウスイベントを制御する */
}

select {
  -webkit-appearance: none;/* ベンダープレフィックス(Google Chrome、Safari用) */
  -moz-appearance: none; /* ベンダープレフィックス(Firefox用) */
  appearance: none; /* 標準のスタイルを無効にする */
  display: block; /* ブロックレベル要素化する */
  height: 32px;
  width: 150px; /* ボックスの高さを指定する */
  padding-left: 10px; /* ボックス内側の余白を指定する */
  color: #003366; /* フォントの色を指定 */
  border: none; /* 境界線をなしに指定する */
  border-radius: 5px; /* 角丸を指定する */
  background: transparent;/* 背景を透過指定する */
}

::-ms-expand { /* select要素のデザインを無効にする（IE用） */
  display: none;
}
/* 検索条件 */

.search-word{
  height: 30px;
  width: 300px;
  border: 2px solid #003366;
  border-radius: 5px;
  margin-left: 3px;
}

.search-button {
  height: 36px;
  color: white;
  background-color: #003366;
  border-radius: 5px;
  margin-left: 3px;
}

/* tag cloud */
.tag-cloud-wrap {
  min-width: 700px;
  display: flex;
  justify-content: center;
}

.tag-cloud{

}


.tagcloud-piece {
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  background: -webkit-linear-gradient(0deg, blue, #15b610, rgb(247, 183, 5));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
