/* フォーム全体 */
.post-wrap {
}

.word-registration {
  width: 50%;
  margin: 50px auto;
}

.post-header-text {
  font-size: 25px;
  font-weight: bold;
  border-bottom: 5px solid #003366;
  margin: 0 auto;
}

/* フォーム内部 */
.post-contents {
  margin-top: 50px;
}

.word-kana-wrap, .word-kanji-wrap, .word-english-wrap, .word-class-wrap, .image {
  margin-bottom: 20px;
  width: 60%;
}

.title-wrap {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.kana-form-title, .kanji-form-title, .english-form-title, .class-form-title, .explanation-form-title, .image-form-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.word-required {
  font-size: 11px;
  color: red;
  margin-left: 10px;
}

.kana-text, .kanji-text, .english-text, .pos-select {
  height: 30px; 
  width: 100%;
  padding-left: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.class-select {
  height: 30px; 
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
}

.image-button {
  width: 100%;
}

.explanation-text {
  height: 300px;
  width: 100%;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

/* 投稿ボタン */
.post {
  margin-bottom: 150px;
}

.post-button {
  width:  300px;
  color: greenyellow;
  font-weight: bold;
  text-align: center;
  background-color: #003366;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.cancel-button {
  width:  200px;
  color: #003366;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background-color: white;
  border-top: 2px solid gray;
  border-left: 2px solid gray;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-radius: 5px;
  padding: 8px;
  display: block;
  margin: 30px auto 0;
}

/* ipad */
@media (max-width: 1100px) {
  .word-registration {
    width:70%;
  }
}
/* /ipad */

/* smart phone */
@media (max-width: 500px) {
  .word-registration {
    width:85%;
    margin-top: 30px;
  }

  .post-header-text {
    font-size: 20px;
  }

  .word-kana-wrap, .word-kanji-wrap, .word-english-wrap, .word-class-wrap, .image {
    margin-bottom: 20px;
    width: 100%;
  }

  .image-button {
    font-size: 13px;
  }

  .class-select {
    width: 100%;
    font-size: 13px;
  }

  .kana-form-title, .kanji-form-title, .english-form-title, .class-form-title, .explanation-form-title, .image-form-title {
    font-size: 15px;
  } 

  .kana-text, .kanji-text, .english-text, .pos-select, .explanation-text {
    font-size: 13px;
  }  
}
/* /smart phone */