/* フォーム全体 */
.post-wrap {
}

.word-registration {
  width: 50%;
  margin: 50px auto;
}

.post-header-text {
  font-size: 20px;
  font-weight: bold;
  color: #003366;
  border-bottom: 5px solid #003366;
  margin: 0 auto;
}

/* フォーム内部 */
.post-contents {
  margin-top: 50px;
}

.word-kana-wrap, .word-kanji-wrap, .word-english-wrap, .word-class-wrap, .image {
  margin-bottom: 20px;
  width: 60%;
}

.title-wrap {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.kana-form-title, .kanji-form-title, .english-form-title, .class-form-title, .explanation-form-title, .image-form-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.word-required {
  font-size: 11px;
  color: red;
  margin-left: 10px;
}

.kana-text, .kanji-text, .english-text, .pos-select {
  height: 30px; 
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

.class-select {
  height: 30px; 
  width: 50%;
  border: 2px solid black;
  border-radius: 5px;
}

.image-button {
  width: 100%;
}

.explanation-text {
  height: 300px;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
}

/* 投稿ボタン */
.post {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.post-button{
  height: 30px;
  width: 70px;
  color: white;
  font-weight: bold;
  background-color: #003366;
  border-radius: 5px;
  margin-right: 10px;
}

.cancel-button {
  height: 30px;
  width: 68px;
  font-size: 13px;
  font-weight: bold;
  color: #003366;
  background-color: white;
  border-radius: 5px;
  border-top: 2px solid gray; border-left: 2px solid gray;
  border-bottom: 2px solid black; border-right: 2px solid black;
  text-decoration: none;
  text-align: center;
  line-height: 27px;
  margin-left: 10px;
}

/* responsive */
@media (max-width: 1100px) {
  .word-registration {
    width:70%;
  }
}

@media (max-width: 500px) {
  .word-registration {
    width:85%;
    margin-top: 30px;
  }

  .word-kana-wrap, .word-kanji-wrap, .word-english-wrap, .word-class-wrap, .image {
    margin-bottom: 20px;
    width: 100%;
  }

  .image-button {
    font-size: 13px;
  }

  .class-select {
    width: 100%;
    font-size: 13px;
  }

  .kana-form-title, .kanji-form-title, .english-form-title, .class-form-title, .explanation-form-title, .image-form-title {
    font-size: 15px;
  } 

  .kana-text, .kanji-text, .english-text, .pos-select {
    font-size: 13px;
    padding-left: 5px;
  }  

  .explanation-text {
    font-size: 13px;
    padding: 5px;
  }
}