/* 検索結果一覧 */
.search-results-wrap {
  width: 60%;
  margin: 0 auto;
}

.searching-word {
  width: 100%;
  margin: 50px auto;
}

.search-word::placeholder {
  padding-left: 10px;
}

.search-word-text {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 5px solid #003366;
  margin: 0 auto;
}


.search-result-piece {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.japanese {
  width: 50%;
  display: flex;
  align-items: center;
}

.search-kana, .search-kanji {
  width: 50%;
  padding-left: 20px;
}

.search-english {
  width: 50%;
  padding-left: 20px;
  border-left: 2px solid black;
}

.below-word-piece {
  height: 30px;
  width: 100%;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.search-star {
  padding-top: 2px;
}

.below-word-piece img.star-button {
  width: 20px;
  height: 20px;
}

.author {
  padding: 0 5px;
  text-align: end;
  vertical-align: top;
}