.word-info {
  width: 70%;
  min-width: 700px;
  margin: 50px auto 0;
}

/* word heading */
.info-header-box{
  border-bottom: solid 5px #003366;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.info-header-text {
  font-size: 30px;
  font-weight: bold;
}

.info-edit-button {
  display: flex;
  justify-content: end;
}

img.edit-button {
  width: 30px;
  height: 30px;
  margin-left: 5px;
}

.info-edit-button img.star-button {
  width: 30px;
  height: 30px;
}

/* word contents */
.info-upper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.info-basic-box {
  width: 50%;
}

.info-basic-table {
  width: 100%;
  height: 300px;
}

.info-table-left {
  width: 35%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  vertical-align: text-top;
}

.info-table-right {
  width: 65%;
  font-size: 18px;
  vertical-align: text-top;
}

.info-img-box {
  width: 50%;
}

img.info-img-content {
  width: 100%;
  height: 250px;
  border-radius: 5px;
  object-fit: contain;
}

/* details */
.info-lower {
  margin-top: 30px;
}

.info-table-details {
  font-size: 18px;
  font-weight: bold;
}

.info-details-box {
  border: 2px solid black;
  border-radius: 5px;
  vertical-align: text-top;
  padding: 0 10px;
  font-size: 15px;
}

/* responsive */
@media (max-width: 1000px) {
  .info-header, .info-upper, .info-lower {
    width:85%;
    margin: 50px auto 0;
  }
}

@media (max-width: 500px) {
  .info-basic-box {
    width: 100%;
  }
}
