<% if model.errors.any? %>
<div class="word-error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='word-error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>