

<script>
	$(document).ready(function(){
		$('#tagcloud').tagoSphere({
		});
	});
</script>
<style>
* {
  list-style-type: none;
  text-decoration: none;
}
</style>

<div class="tag-cloud-wrap">
  <div id="tagcloud", class="tag-cloud">
    <ul>
      <% @words.each do |w| %>
        <li><%= link_to w.kana, word_path(w.id), class: "tagcloud-piece" %></li>
      <% end %>
    </ul>
  </div>
</div>
