.my-posts-container {
  width: 60%;
  margin: 0 auto 100px;
}

.my-words {
  width: 100%;
  margin: 50px auto;
  border-bottom: 5px solid #003366;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-words-header {
  font-size: 25px;
  font-weight: bold;
}

.my-words-list {
  margin: 0 auto;
}

.my-words-piece {
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  text-decoration: none;
}

.my-words-japanese {
  width: 50%;
  display: flex;
  align-items: center;
}

.my-words-kana, .my-words-kanji {
  width: 50%;
  padding-left: 20px;
}

.my-words-english {
  width: 50%;
  padding-left: 20px;
  border-left: 2px solid black;
}

.my-words-buttons {
  height: 27px;
  text-align: end;
  padding-top: 3px;
  margin-bottom: 23px;
  display: flex;
  justify-content: flex-end;
}

.my-words-buttons img.star-button {
  width: 20px;
  height: 20px;
}

img.my-words-edit-button {
  width: 20px;
  height: 20px;
  text-decoration: none;
  margin-left: 5px;
}

/* sort form */
.sort-form {
  display: flex;
  align-items: center;
}

.sort-filtering {
  position: relative;
  display: block;
  width: 180px;
  border: 2px solid #003366;
  border-radius: 5px;
}
  
.sort-filtering:before {
  position: absolute;
  content: "";
  top: 50%;
  right: 10px;
  width:0px;
  height:0px;
  margin: -2px 0 0 0;
  border: 5px solid transparent;
  border-top: 5px solid #003366;
  cursor: pointer;
  pointer-events: none;
}

.sort-filtering select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  height: 26px;
  width: 177px;
  padding-left: 10px;
  color: #003366;
  border: none;
  border-radius: 5px;
  background: transparent;
}

::-ms-expand {
  display: none;
}

.sort-button {
  height: 30px;
  width: 30px;
  margin-left: 3px;
}
/* /sort form */

/* ipad */
@media (max-width: 1000px) {
  .my-posts-container {
    width: 85%;
  }
}
/* /ipad */

/* smart phone */
@media (max-width: 500px) {
  .my-words {
    margin: 30px auto;
    border-bottom: none;
    display: block;
  }

  .my-words-header {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 5px solid #003366;
  }

  .sort-form {
    float: right;
    margin-top: 3px;
    margin-bottom: 20px;
  }

  .sort-filtering {
    width: 140px;
    font-size: 12px;
    float: right;
  }
  
  .sort-filtering select {
    height: 20px;
    width: 136px;
  }

  .sort-button {
    height: 24px;
    width: 24px;
    margin-left: 3px;
  }

  .my-words-piece {
    width: 100%;
    min-height: 30px;
    font-size: 10px;
  }

  .my-words-japanese {
    display: block;
  }

  .my-words-kana, .my-words-kanji {
    width: 100%;
  }

  .my-words-kana, .my-words-kanji, .my-words-english {
    padding-left: 10px;
  }

  .my-words-buttons {
    height: 15px;
    margin-top: 2px;
    margin-bottom: 13px;
    display: flex;
    align-items: center;
  }
  
  .my-words-buttons img.star-button {
    width: 15px;
    height: 15px;
  }
  
  img.my-words-edit-button {
    width: 15px;
    height: 15px;
    text-decoration: none;
    margin-left: 5px;
  }
}
/* /smart phone */